@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #31efb8;
  touch-action: none;
}

@layer base {
  body {
    @apply m-0;
    @apply p-0;
    @apply bg-primary-700;
    @apply text-xs;
    @apply font-semibold;
    @apply text-primary-200;
    @apply overflow-hidden;
    @apply select-none;
  }

  canvas {
    transition: opacity 0.3s ease-in;
  }

  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary-700;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-600;
  }

  ::-webkit-scrollbar-track {
    @apply bg-primary-800;
  }

  ::-webkit-scrollbar-corner {
    @apply bg-primary-800;
  }
}

.property-value:hover .separator {
  @apply border-primary-500;
}

.property-value:focus-within {
  @apply border-primary !important;
}

.property-value:focus-within .separator {
  @apply border-primary;
}
